header{
    text-align: center;
    color: rgb(17, 100, 133);
}


.fishes {
    display: flex;
    flex-wrap: wrap;
    margin:auto 300px ;

}

.fish{
    max-width: 30%;
    margin: 5px;
    
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(17, 100, 133);
    font-size: 20px;
 
}

.fish__images{
    max-height: 10rem;
    overflow: hidden;
}

.fish__name{
    font-size: 30px;
}



body{ 
    background-image: linear-gradient(rgb(143, 245, 236), rgb(0, 103, 110));
    min-height: 2000px;
    margin-top: -20px;
  }

  